* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow: hidden;
}

canvas {
    display: block;
}

nav {
    width: 350px;
    height: 100vh;
    position: absolute;
    background: radial-gradient(circle, rgb(41, 41, 61) 30%, rgba(0,0,0,1) 100%);
    padding: 10px;
    border-right: 5px ridge;
}

nav img {
    width: 50%;
    margin-left: 25%;
    margin-top: 20px;
    animation: round 11s infinite linear;
}

nav h1 {
    margin-top: 40%;
    font-family: 'Orbitron', sans-serif;
    font-size: 50px;
    text-align: center;
    color: goldenrod;
    opacity: .8;
}

.lampPanel {
    display: flex;
    justify-content: space-between;
}

.lamp {
    width: 30px;
    height: 30px;
    border: 3px inset white;
    border-radius: 50%;
    margin: 10px 15px;
    
}

#one {animation: blink infinite steps(2,jump-none) 2s;}
#two {
    animation: blink infinite steps(2,jump-none) 2s;
    animation-delay: 1s
}

@keyframes blink {
    0% {
        background: none;
        box-shadow:none;
    }
    100% {
        background: rgb(204, 156, 34);
        box-shadow: 0px 0px 4px 0px rgb(204, 156, 34);
    }
}

#display {
    margin: auto;
    width: 90%;
    height: 15em;
    padding: 5px;
    border: 3px inset white;
    border-radius: 5px;
    text-align: left;
    background-image: repeating-linear-gradient(#222, #111 0.5%);
    margin-top: 5px;
    color: lime;
    font-family: consolas;
    font-size: 18px;
    overflow-y: auto;
}

aside {
    border: 2px solid goldenrod;
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 5px;
}

.info {
    display: none;
}

aside:hover {
    background-color: rgb(41, 41, 61);
}

aside:hover .info {
    display: block;
    width: 300px;
    animation: show ease .7s
}

@keyframes show {
    from {opacity: 0;}
    to {opacity: 1;}
}

#buttons {
    width: 90%;
    text-align: center;
    margin: auto;
    margin-top: 10px;
}

main {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background: radial-gradient(circle, rgba(46,60,127,1) 0%, rgba(0,0,0,1) 100%);
    position: absolute;
    text-align: center;
    padding: 20px;
    color: goldenrod;
    font-family: 'Orbitron', sans-serif;
}

main h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 36px;
}

main img {
    width: 100%;
    max-width: 350px;
    display: block;
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translateX(-50%);
    z-index: 1
    
}

button {
    min-width: 2em;
    background: #222;
    color: goldenrod;
    border: 2px outset goldenrod;
    font-size: large;
    position: relative;
    z-index: 99;
}

#startBtn {
    min-width: 5em;
    font-size: larger;
    font-family: 'Orbitron', sans-serif;
}

button:hover {
    cursor: pointer;
    color: #ffc125;
    border-color: #ffc125;
}

button:disabled {
    color: rgb(146, 120, 53);
    border: 2px outset rgb(146, 120, 53);
}

#levelNum {
    width: 2em;
    z-index: 99;
    font-size: large;
    font-family: 'Orbitron', sans-serif;
    background: none;
    outline: none;
    border: 2px solid goldenrod;
    margin-bottom: 3px;
    color: goldenrod;
    text-align: center;
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.hidden {
    left: -350px;
    transition: 1.2s ease;
}

.showed {
    left: 0;
    transition: 1.2s ease;
}

@keyframes hide {
    from {
        left: 0px
    }

    to {
        left: -350px
    }
}


@keyframes go {
    from {
        left: -350px
    }

    to {
        left: 0
    }
}